In [3]:
from parse import parse
import sys
sys.path.append('../Train')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import tensorflow as tf
import mnist_inference
import re
import os

### pretreatment predict_set

In [4]:
trainset_df_path = '../CleanData/trainDataAfterClean.csv'
predict_df_path = '../RawData/yancheng_testA_20171225.csv'

In [5]:
trainset_df = pd.read_csv(trainset_df_path, delimiter=',')
predict_df = pd.read_csv(predict_df_path, delimiter=',')

In [6]:
facet_filter_pattern = re.compile('(sale_quantity)|(year)|(month)')
year_month_pattern = re.compile('(year)|(month)')

facet_columns = [c for c in trainset_df.columns.values if not facet_filter_pattern.match(c)]
class_id_columns = [c for c in trainset_df.columns.values if c.find('class_id') > -1]
year_month_columns = [c for c in trainset_df.columns.values if year_month_pattern.match(c)]

In [7]:
unique_trainset_df = trainset_df.drop_duplicates(facet_columns)

In [8]:
predict_df['year'] = predict_df['predict_date'].astype('str').apply(lambda x:int(x[:4]))
predict_df['month'] = predict_df['predict_date'].astype('str').apply(lambda x:int(x[4:]))
predict_df = pd.get_dummies(predict_df.drop(['predict_date'], axis=1), columns=['class_id', 'year', 'month'])
predict_df = pd.merge(predict_df, unique_trainset_df[facet_columns], on=class_id_columns)
for date_c in set(year_month_columns)-set([c for c in predict_df.columns.values if year_month_pattern.match(c)]):
    predict_df.loc[:, date_c] = pd.Series(np.zeros(len(predict_df)), index=predict_df.index)
predict_df = predict_df.reindex(columns=trainset_df.columns.values)

In [9]:
predict_df.head()

,sale_quantity,compartment,level_id,TR,displacement,if_charging,price_level,if_MPV_id,if_luxurious_id,power,...,newenergy_type_id_4,emission_standards_id_1,emission_standards_id_2,emission_standards_id_3,emission_standards_id_5,gearbox_type_AMT,gearbox_type_AT,gearbox_type_CVT,gearbox_type_DCT,gearbox_type_MT
0,NaN,2,3.0,6.0,1.6,1,12.5,1,0,91.6,...,0,1,0,0,0,0,0,0,0,1
1,NaN,2,3.0,6.0,1.6,1,12.5,1,0,91.6,...,0,1,0,0,0,0,0,1,0,0
2,NaN,2,3.0,6.0,1.6,1,12.5,1,0,91.6,...,0,1,0,0,0,0,0,0,0,1
3,NaN,2,3.0,7.0,1.6,0,12.5,1,0,117.7,...,0,1,0,0,0,0,1,0,0,0
4,NaN,2,3.0,6.0,1.6,1,12.5,1,0,91.6,...,0,1,0,0,0,0,1,0,0,0

### predict

In [13]:
MODEL_SAVE_PATH = "../model/2018-01-22/"
MODEL_NAME = "tianchi_model"

In [15]:
def predict_on_model_1(df):
    
    def normalize(df):
        normalizeColumns = ['compartment','TR','displacement','price_level','power','level_id',
                    'cylinder_number','engine_torque','car_length','car_height','car_width','total_quality','equipment_quality',
                    'rated_passenger','wheelbase','front_track','rear_track']
        leftDf = df.drop(normalizeColumns, axis =1 )
        normalizeDf = df[normalizeColumns]
        normalizeDf = (normalizeDf-normalizeDf.min())/(normalizeDf.max()-normalizeDf.min())
        inputDf_1 = pd.concat([leftDf, normalizeDf], axis = 1)
        return inputDf_1.values
    
    config = tf.ConfigProto(allow_soft_placement = True, log_device_placement=True)
    restoredSession = tf.Session(config=config)
    restoredSaver = tf.train.import_meta_graph(os.path.join(MODEL_SAVE_PATH, 'tianchi_model-34500.meta'))
    restoredSaver.restore(restoredSession, os.path.join(MODEL_SAVE_PATH, 'tianchi_model-34500'))
    w_1 = restoredSession.run('layer1/weights:0')
    B_1 = restoredSession.run('layer1/biases:0')
    w_2 = restoredSession.run('layer2/weights:0')
    b_2 = restoredSession.run('layer2/biases:0')

    x = tf.placeholder(tf.float32, [None, mnist_inference.INPUT_NODE], name='x-input')
    input_tensor = restoredSession.run(x, feed_dict={x: normalize(df)})
    layer1 = tf.nn.relu(tf.matmul(input_tensor, w_1) + B_1)
    layer2 = tf.nn.relu(tf.matmul(layer1, w_2) + b_2)

    return restoredSession.run(layer2)

In [16]:
predict_quantity = predict_on_model_1(predict_df.drop(['sale_quantity'], axis=1))
predict_df['predict_quantity'] = predict_quantity
predict_df['class_id'] = predict_df.apply(lambda row: (row[class_id_columns]==1).idxmax(axis=1)[9:], axis=1).astype('int64')
predict_result = predict_df.groupby(['class_id'])['predict_quantity'].mean()

INFO:tensorflow:Restoring parameters from ../model/2018-01-22/tianchi_model-34500

In [17]:
predicted_df = pd.read_csv(predict_df_path, delimiter=',')
predicted_df = predicted_df.set_index('class_id')
predicted_df.update(predict_result)
predicted_df

          predict_date  predict_quantity
class_id
103507          201711        451.347137
124140          201711        300.531860
125403          201711        374.505402
136916          201711        325.801178
169673          201711        160.751648
175962          201711        216.238235
178529          201711        671.778015
186250          201711        155.988571
194201          201711        550.141968
194450          201711        256.885040
198427          201711        117.495636
206765          201711       1593.244507
209945          201711        184.544647
219195          201711        180.828857
221795          201711        213.507599
245609          201711        206.885925
248352          201711        499.493774
249875          201711         72.445274
250658          201711        303.800415
265980          201711        402.936676
270690          201711        741.549377
281301          201711        738.705933
281792          201711        279.351959
289386          201711        320.507172
289403          201711        156.337067
290854          201711        349.576508
291086          201711        831.036926
291514          201711         62.516666
302513          201711          0.000000
304458          201711        388.990997
...                ...               ...
745137          201711        390.103516
750340          201711         74.426880
760412          201711         21.850767
786351          201711        482.132843
789290          201711          0.145251
810398          201711        101.296371
815230          201711        207.733826
819061          201711        627.726135
842246          201711        139.520981
851857          201711        130.451996
854079          201711        389.533295
854548          201711        109.911514
861459          201711        318.854065
871642          201711        124.673279
872180          201711        172.004181
883691          201711        546.491821
890189          201711        813.877380
905061          201711        110.150467
905745          201711        251.313934
914348          201711        427.132843
923841          201711        773.419556
924154          201711        908.061646
948936          201711         95.554008
950264          201711        662.132080
953842          201711        777.392395
961362          201711        104.697044
961962          201711        233.067001
963845          201711        265.503998
973106          201711         66.880486
978089          201711        255.955444

[140 rows x 2 columns]

In [20]:
predicted_df.to_csv('../Predict/predict_result/20180122/yancheng_testA_20171225.csv')

In [21]:
import numpy as np

In [26]:
a = np.random.randn(3, 3)
b = np.random.randn(3, 1)
c = a*b

In [25]:
c.shape

(3, 3)