In [1]:
import pandas as pd

In [20]:
cur_result_df = pd.read_csv('../Predict/predict_result/20180130/yancheng_testA_20171225.csv')
train_len_df = pd.read_csv('trainlen.csv')
types_df = pd.read_csv(r'C:\Users\YW59785\Desktop\tianchi\model2\dict.csv', names=['class_id', 'types', 'type_d'])

In [65]:
raw_df = pd.read_csv('../RawData/[new] yancheng_train_20171226_2.csv')[['sale_quantity', 'class_id', 'sale_date']]
tmp_df = raw_df.groupby(['sale_date', 'class_id'], as_index=False).sum()
# tmp_df
tmp_df = tmp_df[tmp_df.sale_date == 201710]

c:\users\yw59785\python\python35\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [78]:
sum_prediction_df_20170116 = pd.read_csv('../Predict/predict_result/20170116/yancheng_testA_20171225.csv')

In [69]:
combine_df = cur_result_df.merge(train_len_df, how='left', on='class_id').merge(types_df, how='left', on='class_id').merge(tmp_df, how='left', on='class_id').drop(['type_d', 'sale_date'], axis=1)

In [75]:
combine_df = combine_df.rename(columns={"sale_quantity":"m10_sale_quantity"})

In [120]:
_combine_df = combine_df[combine_df.types == 1].merge(sum_prediction_df_20170116, how='left', on='class_id')
_combine_df = _combine_df.drop(['predict_date_y'], axis=1)
_combine_df = _combine_df.rename(columns={'predict_quantity_y': 'sum_predict_quantity'})
_combine_df

,predict_date_x,class_id,predict_quantity_x,trainlen,types,m10_sale_quantity,sum_predict_quantity
0,201711,169673,151.0,5,1,152,151
1,201711,186250,355.0,21,1,83,355
2,201711,194201,922.0,2,1,378,922
3,201711,359378,151.0,2,1,64,151
4,201711,376193,244.0,2,1,90,244
5,201711,653436,423.0,2,1,171,423
6,201711,842246,322.0,5,1,121,322
7,201711,948936,162.0,13,1,75,162

In [121]:
combine_df.loc[combine_df.types == 1, 'predict_quantity'] = [151, 355, 922, 151, 244, 423, 322, 162]

In [ ]:
# combine_df.drop(['trainlen', 'types', 'm10_sale_quantity'], axis=1).to_csv('correlation_prediction.csv', index=False)